<footer>
    <ul>
        <% if(locals.currentUser) { %>
            <% if(locals.currentUser.role === "members" || locals.currentUser.role === "admin") { %>
                <li><a href="/member-codes">Member Codes</a></li>
            <% } %>
            <% if(locals.currentUser.role === "user") { %>
                <li><a href="/become-member">Become Member</a></li>
            <% } %>
        <% } %>
        <li><a href="#">Terms of Service</a></li>
        <li><a href="#">Contact Us</a></li>
    </ul>
    <span>
        <a href="https://github.com/username">&copy; Lucas Staszewski</a>
    </span>
</footer>
</body>
<script src="/frontEndScripts.js" defer></script>
</html>