<footer>
    <ul>
        <li><a href="#">Become Member</a></li>
        <li><a href="#">Terms of Service</a></li>
        <li><a href="#">Contact Us</a></li>
    </ul>
    <span>
        <a href="https://github.com/username">&copy; Lucas Staszewski</a>
    </span>
</footer>
</body>
</html>