<%- include("partials/header", {title: title}) %>

<main>
    <%- include('partials/errors') %>
    <h2>New Message</h2>
    <form action="/messages/new" method="post">
        <label for="title">Title:</label>
        <input type="text" name="title" id="title" value="<% locals.messageDetails ? messageDetails.title : ""%>">
        <label for="message">Message:</label>
        <textarea name="message" id="message"><% locals.messageDetails ? messageDetails.title : ""%></textarea>

        <input type="submit" value="Send">
    </form>
</main>



<%- include("partials/footer") %>